:root{
    --main-color:#926ad4;
    --black:#244361;
    --box-shadow:0 5px 10px rgba(0,0,0,.1);
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none !important;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

html{
    scroll-padding-top: 60px;
}

section{
    padding:20px 0;
    
}

section:nth-child(odd){
    background:white;
}

.heading{
    text-align: center;
    padding:0 15px;
    padding-bottom: 5px;
    color:var(--black);
    font-size: 30px;
   
}

.heading span{
    color:var(--main-color);
   
}

.link-btn{
    display: inline-block;
    background:var(--main-color);
    color:#fff;
    border-radius: 50px;
    padding:10px 25px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.link-btn:hover{
    color:#fff;
    background:magenta;
}

header{
    box-shadow: var(--box-shadow);
    background: #fff;
}

header .logo{
    font-size: 20px;
    color:var(--black);
}

header .logo span{
    color:var(--main-color);
}

header .nav a{
    margin-left: 3px;
    border-radius: 50px;
    color:var(--black);
    padding:5px 15px;
}

header .nav a:hover{
    background: var(--main-color);
    box-shadow: var(--box-shadow);
    color:#fff;
}

#menu-bar{
    color:var(--black);
    cursor: pointer;
    font-size: 25px;
    transition: .2s linear;
}

.home{
    min-height: 100vh;
    background: url(/Images/home-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .content span{
    color:var(--main-color);
    font-size: 20px;
}

.home .content h3{
    color:var(--black);
    font-size: 50px;
    font-weight: bolder;
}

.about .content h3{
    color:var(--black);
    font-size: 33px;
}

.about .content p{
    color:#777;
    font-size: 14px;
}
.prevent .box{
    flex:1 1 300px;
    background:#f8f8fe;
    border-radius: 5px;
    text-align: center;
}

.prevent .box img{
    margin-bottom: 10px;
    height: 70px;
}

.prevent .box h3{
    color:var(--black);
    font-size: 20px;
}

.prevent .box p{
    color:var(--black);
    font-size: 14px;
}


  #custom-button {
    padding: 10px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    min-width: 50px;  
    max-width: 300px;
    font-size:0.875em;
   display:block;
   left:-60px;
   margin-top:35px;
   cursor: pointer;
   
  }
  
  #custom-button:hover {
    background-color: magenta;
  }
  
  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: black;
  }
  #submit-button {
    padding: 10px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    min-width: 70px;  
    max-width: 300px;
    font-size:1em;
   display:block;
   left:-60px;
   margin-top:35px;
   cursor: pointer;
   
  }
  #submit-button:hover {
    background-color: magenta;
  }

  .experts .box{
    width:260px;
    background:#fff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin:5px;
    padding:15px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.experts .box img{
    background:#f8f8fe;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 8px;
}

.experts .box h3{
    font-size: 22px;
    margin:2px 0;
    color:var(--black);
}

.experts .box span{
    font-size: 15px;
    color:var(--main-color);
}

.experts .box .share{
    position: absolute;
    top:5px; right: -50px;
    transition: .2s;
}

.experts .box:hover .share{
    right:15px;
}

.experts .box .share a{
    border-radius: 5px;
    background:var(--main-color);
    color:#fff;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-top: 5px;
}

.experts .box .share a:hover{
    background:var(--black);
}
.contact form{
    padding:15px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.contact form .box,
.contact form textarea{
    background:#f8f8fe;
    border-radius: 5px;
    font-size: 17px;
    padding:10px;
    margin:7px 0;
    width: 100%;
    text-transform: none;
    color:var(--black);
}

.contact form textarea{
    resize: none;
    height: 200px;
}

.contact .map{
    border-radius: 5px;
    height: 100%;
    width:100%;
}



.footer .box{
    flex:1 1 250px;
}

.footer .box h3{
    font-size: 20px;
    color:var(--black);
}
.footer .box p{
    color:#777;  
}

.footer .box a{
    display: block;
    font-size: 14px;
    color:#777;
    padding:5px 0;
}

.footer .box a:hover{
    color:var(--main-color);
}

.footer .credit{
    text-align: center;
    color:var(--black);
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 10px;
    padding-top: 20px;
}

.footer .credit span{
    color:var(--main-color);
}







/* media queries  */

@media (max-width:991px){

    .home .content h3{
        font-size: 30px;
    }

}


@media (max-width:768px){

    header .nav{
        position: absolute;
        top:100%; left: 0; right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,.1);
        border-bottom: 1px solid rgba(0,0,0,.1);
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .nav a{
        display: block;
        width: 100%;
        margin:10px;
    }

    .fa-times{
        transform: rotate(180deg);
    }

}